.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #ffffff;
  height: 75px;
  padding: 25px;
  color: black;
}

.App-title {
  font-size: 1.1em;
}

.App-info {
  font-size: large;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
